<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Class1 suite">
    <test verbose="2" preserve-order="true" name="test1">
        <groups>
            <run>
                <include name="group1"/>
            </run>
        </groups>
        <classes>
            <class name="testngpractice.Class1">
                <methods>
                    <include name="method1"/>
                    <exclude name="method2"/>
                </methods>

            </class>
            <class name="testngpractice.Class2"></class>
        </classes>
    </test>
</suite>